.f-left{
  float: left;
}
.clear{
  clear: both;
}
html{
  scroll-behavior: smooth;
}
header{
  background-color: rgb(250,142,26);
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.returntop{
  float: left;
  margin:10px 0px 5px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.returntop img{
  width: 100%;
  display: block;
  border-radius: 50%;
}
.returntop a{
  display: block;
  border-radius: 50%;
  width: 100%;
}
.pagetitle{
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin: 5px 5px 5px;
  height: 40px;
  width: 280px;
  text-align: center;
  background-color:rgb(251,238,201);
  border: rgba(78,59,48, 0.5) 5px solid;
  color: darkslategrey;
  border-radius: 20px;
  box-shadow: 0px 5px rgba(15, 15, 15, 0.2);
}
.pagetitle a{
  text-decoration: none;
  display: block;
}
.headerlist{
  clear: both;
  padding: 0;
  margin-left:65px;
}
.headerlist li{
  height: 40px;
  width: 145px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  float: left;
  margin:0 5px 0 0;
  background-color: rgb(251,238,201);
  border-radius: 10px;
  border: rgba(78,59,48, 0.5) 5px solid;
  box-sizing: border-box;
  box-shadow: 0px 5px rgba(15, 15, 15, 0.2);
}
.headerlist li a{
  display: block;
  text-decoration: none;
  line-height: 30px;
}
.headerlist li a:hover{
  margin: 0;
  background: rgba(204,255,0,0.5);
  border-radius: 5px;
}
.title{
  margin:110px 0px 0px;
  width: 100%;

}
.titleImage{
  width: 100%;
}
main{
  margin: 8px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
}
body {
  width: auto;
  height: auto;
  margin: 0px;
  background-image: url(../img/nekohaikeigr.png);
}
.returntoppage{
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  background-color: tomato;
  width: 80px;
  height: 80px;
  z-index: 100;
}
.returntoppage a{
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
  display: block;
  width: 80px;
  height: 80px;
}
.overview{
  margin:110px 0px 0px;
  width: 100%;
  background-color: rgb(251,238,201);
}
.overview h2{
  color: midnightblue;
  font-size: 16px;
  padding: 0 20px;
}
.content{
  display: flex;
  flex-wrap: wrap;
}
.container{
  width: 350px;
  height: 450px;
  position: relative;
  background-color: rgba(15, 15, 15, 0.2);
  border-radius: 10px;
  margin:10px 0px 0px 5px;
}

.cotainer-text{
  height: auto;
  width: 350px;
  background-color: rgba(243, 255, 14, 0.598) ;
  border: yellowgreen;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0%;

}
.container h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

.container p{
  margin: 5px;
}

.container img{
  position: absolute;
  bottom: 0%;
}
.kiroku{
  width: 100%;
  max-width: 720px;
  position: relative;
  margin:20px 0 0px 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(78,59,48, 0.5);
}
.kiroku:last-child{
  margin-bottom: 100px;
}
.kiroku img{
  width: 100%;
}
.kiroku .hiduke{
  background-color:rgba(78,59,48, 1);
  color: beige;
  position: absolute;
  width: 100px;
  text-align: center;
  top: -15px;
  left: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
.kiroku h2{
  background-color: rgb(240,162,46);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: midnightblue;
  margin: 0px;
  font-size: 16px;
}
.kiroku p{
  margin: 3px 0px;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(251,238,201, 0.8);
  color: midnightblue;
  font-size: 14px;
}
.items{
  max-width: 720px;
  position: relative;
  margin:10px 0 0 5px;
  padding: 5px;
  background-color: rgba(78,59,48, 0.5);
  border-radius: 10px;
}
.items h2{
  width: 100%;
  padding: 5px;
  color: midnightblue;
  font-size: 14px;
}
.itemsheader{
  /* width: 100%; */
  height: 120px;
  padding: 5px;
  background-color: rgb(240,162,46);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.itemsimg{
  margin: 0px;
  max-width: 120px;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
  float: left;
  background-color: white;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
}
.space{
  flex: 1;
}
.itemsimg img{
  max-width: 120px;
  max-height: 120px;
  height: auto;
  width: auto;
  border-top-left-radius: 10px;

}
.items p{
  font-size: 14px;
  margin-top: 5px;
  background-color: rgb(251,238,201);
  color: midnightblue;
  margin:  0px;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.error,.making{
  float: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  min-width: 360px;
  background: rgba(78,59,48, 0.5);
  border-radius: 10px;
  margin: 0 0 10px 5px;
  padding: 5px;
}
.error h2,.making h2{
  font-size: 16px;
  align-self: center;
  margin: 0;
  width: 100%;
  min-width: 360px;
  background-color: rgb(240,162,46);
  color: midnightblue;
  box-sizing: border-box;
  border: rgb(78,59,48) 3px solid;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
table{
  align-self: center;
  width: 100%;
  /* max-width: 740px; */
  min-width: 360px;
  border: rgb(78,59,48) 3px solid;
  border-collapse: collapse;
  background-color: rgb(251,238,201);
  color: midnightblue;
  font-size: 14px;
}
td,tr,th{
  border: 2px solid black;
  padding: 3px 5px;
}
td:first-child,th:first-child{
  text-align: center;
  width: 60px;
}
.error:last-child,.items:last-child,.kiroku:last-child{
  margin-bottom: 100px;
}
.commentary {
 width: 100%;
 max-width: 1200px;
 position: relative;
 margin:20px auto 0px ;
 padding: 10px;
 /* padding-top: 0px; */
 border-radius: 10px;
 background-color: rgba(78, 59, 48, 0.5);
}
.commentary p{
  font-size: 18px;
  background-color: rgb(251, 238, 201);
  color: midnightblue;
  margin: 0px;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 2.5em;
}
.commentary ul{
  font-size: 18px;
  background-color: rgb(251, 238, 201);
  border: 5px solid rgb(240, 162, 46);
  color: midnightblue;
  margin: 0px;
  /* margin-bottom: 10px; */
  padding: 5px;
  box-sizing: border-box;
}
.commentary li{
  list-style-type: none;
}
.commentary strong{
  font-size: 1.5em;
}
.commentary h2{
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: rgb(240, 162, 46);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.commentary h3{
  margin-bottom: 0px;
  padding: 5px;
  background-color: rgb(251, 238, 201);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 600px) {
  .error h2,.making h2,.items h2,.kiroku h2,.overview h2{
    font-size: large;
  }
  .returntop{
    width: 80px;
    margin: 15px 0 0 10px;
  }
  .headerlist{
    margin-left: 95px;
  }
  .honbun,table{
    font-size: unset;
  }
}
@media (min-width:800px) {
  header{
    display: flex;
    height: 82px;
  }
  .returntop{
    margin-top: 1px;
  }
  .pagetitle{
    margin-top: 15px;
  }
  .headerlist{
    margin-left: 10px;
    margin-top: 25px;
  }
  .overview{
    margin-top: 82px;
  }
}