header{
  background-color: rgba(107, 253, 112, 0.7);
}

body {
  width: auto;
  height: auto;
  background-image: url(../img/nekohaikeigr.png);
}
.container{
  width: 350px;
  height: 380px;
  float: left;
  position: relative;
  background-color: rgba(15, 15, 15, 0.2);
  border-color: black;
  border-radius: 10px;
  margin-left: 10px;
}

.cotainer-text{
  height: 140px;
  width: 350px;
  background-color: rgba(243, 255, 14, 0.598) ;
  border: yellowgreen;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0%;
}
.container h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

.container p{
  margin: 5px;
}

.container img{
  position: absolute;
  bottom: 0%;
}
.returntop{
clear: left;
}
.roulette{
  height: 200px;
}