body{
  background-color: cornsilk;
}
.read{
  font-size: 36px;
  height: 40px;
}
.kana{
  font-size: 20px;
  height: 20px;
}
.write{
  font-size: 36px;
  height: 36px;
}
.result{
  font-size: 48px;
  height: 48px;
  margin-bottom: 200px;
}